body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('tawn.jpg') no-repeat center  fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-decoration: none;
}

.container {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    height: 93vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-form {
    max-width: 400px;
    margin: auto;
    color: #fff;
}

.logo img {
    width: 100px;
    margin-bottom: 10px;
}

.logo h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom:1px solid #fff ;

    background: transparent;
}

.captcha-image {
    margin-bottom: 10px;
}
.captcha-image img {
    width: 50px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #fd7e14;
}
